.program{
    margin:80px auto;
    width:90%;
    display:flex;
    align-items:center;
    justify-content:space-between;

}
.program img{
  
 
  height:600px ;
    background-size: cover;
}
.caption{
    border-radius: 10px;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,15,152,0.3);
}
